.contain {
  padding: 15px;
}

.maindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-family: OpenSans-Bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-family: OpenSans-Bold;
}

.head1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0059ff), to(#8c00ff));
  background-image: linear-gradient(to bottom right, #0059ff, #8c00ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  border-bottom-right-radius: 50px;
  padding: 15px;
  color: white;
}

.head2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0059ff), to(#8c00ff));
  background-image: linear-gradient(to bottom right, #0059ff, #8c00ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  border-top-left-radius: 50px;
  padding: 15px;
  color: white;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-family: OpenSans-Bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-family: OpenSans-Bold;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

table {
  font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  color: grey;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-family: OpenSans-Bold;
  color: grey;
}

.account h4 {
  color: black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 14px;
  font-family: OpenSans-Bold;
  color: white;
  background-color: blue;
  padding: 15px;
}

.footer1 {
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bi {
  padding-right: 5px;
}
/*# sourceMappingURL=style.css.map */